.gridArea {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.gridRow {
  display: grid;
  gap: 0.2rem;
}

.bankTile {
  background-color: var(--secondary-background);
}

.bankTile:hover {
    background-color: var(--secondary-hover);
}

.bankSlotContainer {
  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  position: relative;
}

.sprite {
  height: 4rem;
  width: 4rem;
}

.itemName {
  color: #fafaface;
  font-size: 0.65rem;
  text-align: center;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}

.removeItem {
  position: absolute;
  top: 3px;
  right: 3px;
  opacity: 0;
}

.removeItem:hover {
  color: #fafafa70;
}

.bankTile:hover .removeItem {
  display: block;
  opacity: 1;
}