.gridArea {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.gridContainer {
  display: grid;
}

.gridRow {
  display: grid;
  gap: 0.25rem;
}

.bankTile {
  background-color: var(--secondary-background);
}

.bankTile:hover {
    background-color: var(--secondary-hover);
}