.searchArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchBar {
  height: 2.25rem;
  width: 18rem;
  color: var(--main-text);

  border: none;
  border-radius: 6px;
  padding-left: 10px;
  background-color: var(--secondary-background);
}

.searchBar:focus {
  outline: none;
  border: 1px solid #E3A750;
}

.searchBtn {
  position: absolute;
  right: 10px;
  bottom: 2px;

  border: none;
  border-radius: 0 6px 6px 0;
  background-color: transparent;
}