:root {

  /* potential colour change  */
  /* --main-background: #191e27;
  /* --secondary-background: #283142; */
  /* --secondary-background: rgb(67, 73, 87); */

    /* --secondary-background:#36434A; */
  
  --main-background:#1c262b;
  --secondary-background:#3c474d;
  --secondary-hover:#425057;

  --yellow:#E3A750;

  --main-text: #fafafa95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--main-background);
}

.title > span {
  color: var(--yellow);
  padding-right: 8px;
  font-weight: 600;
}

.title {
  color: var(--main-text);
  font-size: 24px;
  font-weight: 400;
  padding-top: 25px;
  padding-left: 60px;
  line-height: 2rem;
}

footer {
  height: 60px;
}