:root {
  --main-background:#1c262b;
  --secondary-background:#36434A;
  --secondary-hover:#425057;
  --yellow-hover:#E3A750;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: var(--main-background);
}

.searchContainer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchWrapper {
  position: relative;
}

.searchBar {
  height: 2.25rem;
  width: 18rem;
  color: #fafafa;

  border: none;
  border-radius: 6px;
  padding-left: 10px;
  background-color: var(--secondary-background);
}

.searchBtn {
  position: absolute;
  right: 0.25px;
  height: 2.25rem;
  width: 2.25rem;

  border: none;
  border-radius: 0 6px 6px 0;
  background-color: var(--secondary-background);
}

.searchBtn:hover {
  cursor: pointer;
  background-color: var(--yellow-hover);
}

.gridArea {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.gridRow {
  display: grid;
  grid-template-columns: repeat(8, 0.25fr);
  gap: 0.2rem;
}

.slot {
  width: 100px;
  height: 100px;
  background-color: var(--secondary-background);
}

.slot:hover {
    background-color: var(--secondary-hover);
}

.itemContainer {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  text-align: center;
  gap: 0.25rem;
  padding: 5px;
}

.itemContainer p {
  line-height: 1rem;
}

footer {
  height: 60px;
}